.header-buttons button {
    margin-right: 10px;
}
.nav-item a:hover {
    color: #007bff;
    text-decoration: underline;
}
.navbar-brand img {
    transition: transform 0.2s;
}
.navbar-brand img:hover {
    transform: scale(1.1);
}
.flag-icon img {
    cursor: pointer;
    margin-left: 5px;
}
.flag-icon img:hover {
    transform: scale(1.1);
}